
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#F3F5FC;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    box-sizing: border-box;
    overflow: hidden;
}
header img{
    margin-left: 40px;
}
main{
    width: 100%;
    height: 85%;
    /*background-color: brown;*/
    display: flex;
    justify-content: space-between;
}

section{
    width: 40%;
    height: 100%;
    /*background-color: chartreuse;*/
}
.add{
    width: 65%;
}
.ingresarTexto{
    background-color: #F3F5FC;
    width: 80%;
    height: 70%;
    display: block;
    margin: 20px auto;
    resize: none;
    font-size: 25px;
    border: none;
    padding: 20px;
    border-radius: 15px;
}
.content_btns{
    text-align: center;
    margin: 30px;
}
.btn_encriptar, .btn_desencriptar{
    font-weight: bold;
    width: 300px;
    height: 60px;
    background-color: #D8DFE8;
    border-radius: 24px;
    color: #072b61;
    font-size: 18px;
    margin-left: 50px;
    border-style: none;
}
.btn_encriptar:hover, .btn_desencriptar:hover{
    background-color: #072b61;
    color: #ffffff;
    cursor: pointer;
}
.btn_encriptar:active, .btn_desencriptar:active{
    border-radius: 30px;
}

.show{
    width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    margin: 0px 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.content_result{
    width: 100%;
    height: 70%;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
}
.muneco{
    width: 100%;
    height: 60%;
    padding-top: 150px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
.titulohtres{
    width: 100%;
    height: 20%;
    text-align: center;
}
.subtitulo{
    width: 100%;
    height: 20%;
    text-align: center;
}
.mostrarTexto{
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    font-size: 22px;
    margin-top: 30px;
}
.boton_copiar{
    width: 100%;
    height: 20%;
    text-align: center;
}
.boton_copiar button{
    font-weight: bold;
    width: 300px;
    height: 60px;
    background-color: #D8DFE8;
    border-radius: 24px;
    color: #072b61;
    font-size: 18px;
    border-style: none;
}
.boton_copiar button:hover{
    background-color: #072b61;
    color: #ffffff;
    cursor: pointer;
}
.boton_copiar button:active{
    border-radius: 30px;
}
footer{
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 10px;
}
footer p{
    padding-top: 20px;
    font-size: 12px;
}
.ocultar{
    display: none;
}